@model BCG_Portal.Models.ProductsViewModels
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--==== Use <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> if you want to make items draggable ===-->
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.elastislide.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<style>
    .card:not(:first-child) {
        /*margin:10px !important;*/
        display: none;
    }
</style>
<!--============================== Start Products Content ================================-->
<section id="content">

    <h2 class="daliQ">OUR PRODUCTS</h2><hr />

    <div class="row">

        <div class="col-md-4">
            <div class="bobi">
                <!-- ================== Start Carousel ==================-->
                <ul id="carousel" class="elastislide-list">
                    @foreach (var product in Model.LstProducts)
                    {
                        <li>
                            <img src=@product.ImageUrl alt="..." />

                        </li>

                    }
                </ul>
                <!-- ================== End Carousel ==================-->
            </div>
        </div>

        <div class="col-md-6">
            <div id="showCards" class="flip">

                @foreach (var product in Model.LstProducts)
                {
                    <div class="card">
                        <div class="row">
                            @Html.Raw(product.Media)
                        </div>
                        <div class="row price" style="margin-top: 330px; text-align: center">
                            Price per 100 -     @product.Price
                        </div>

                        <div id="paypalSubmit" class="text-center" style="margin-top: 50px">

                            @using (Ajax.BeginForm("AddToCard", "Store", new { idProduct = product.IdProduct }, new AjaxOptions
                            {
                                UpdateTargetId = "basket",
                                InsertionMode = InsertionMode.Replace,
                                OnComplete = "OnAjaxRequestComplete",
                                HttpMethod = "POST"
                            }, new { role = "form", IdProduct = product.IdProduct }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="row form-group">
                                    @Html.Label("Quantity:", new { @class = "col-md-4" })
                                    @Html.DropDownListFor(model => model.SelectedQuantity, Model.ListQuantitys, new { @class = "form-control col-md-8", name = "quantity" })

                                </div>
                                <div class="row" style="margin-top: 15px">
                                    <button type="submit" class="btn btn-primary">Pay with PayPal</button>

                                </div>

                            }
                        </div>
                    </div>
                }


                <div id="flipCard">
                    &nbsp;
                    <div class="row">

                        <div class="col-md-6 col-xs-6 moveRight">
                            <span class="daliQ2">Flip Front</span>
                            <img id="FrontSide" class="arr" src="~/images/arrLft.png" alt="Flip To Front Side" title="Flip To Front Side" />
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <img id="BackSide" class="arr" src="~/images/arrRgh.png" alt="Flip To Back Side" title="Flip To Back Side" />
                            <span class="daliQ2">Flip Back</span>
                        </div>

                    </div>

                </div>



            </div>
            @* End Bussines card area *@
        </div>
        <div class="col-md-2" style="text-align:center;">
            @*<input type="Button" value="Justify" onclick="function2();">*@
            <input type="Button" value="Left" onclick="function3();">
            <input type="Button" value="Center" onclick="function1();">
            <input type="Button" value="Right" onclick="function4();">
            @*<input type="Button" value="Clear">*@
        </div>

    </div>
    <!--============================== End Products Content ================================-->

    

    <script>
        //$(document).mousemove(function (e) {
        //        $('#showCards .card').removeClass('flipped');
        //    }
        //);

        function OnAjaxRequestComplete(request, status) {
            //$.get("/Store/GetBasket", function (data) {
            //    $("#content").prepend(data);
            //});

        };

        $.get("/Store/GetBasket", function (data) {
            $("#content").prepend(data);
        });

        $('#carousel li').click(function () {
            var clickedLI = $(this).index() + 1;
            console.log(clickedLI);
            $(".card").hide();
            $(".card:nth-child(" + clickedLI + ")").show();
        });

        $('#carousel').elastislide({
            orientation: 'vertical'
        });

        /* Use this to hide elements in particular width */
        var width = $(window).width();
        if (width < 361) {
            $(".bobi").hide();
        }
        else {
            $(".bobi").show();
        };
    </script>



</section> 