@model PagedList.IPagedList<BCG_DB.Entity.Store.tblCurrency>
@using PagedList.Mvc;
@{
    ViewBag.Title = "View All Currencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        View all Currencies.
        <small>Store</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin"><i class="fa  fa-home"></i> Home</a></li>
        <li>Store</li>
        <li class="active">View all Currencies</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Helper for info boxes after manipulating data -->
    @ResultHelper.ResultFromTempData(TempData)


    <!-- Default box -->
    <div class="row">


        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Currencies: </h3>
                    @using (Html.BeginForm("ViewAllCurrencies", null, FormMethod.Get, new { @class = "input-group pull-right col-md-4" }))
                    {
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-sm pull-right", placeholder = "Search" })

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>

                    }
                </div><!-- /.box-header -->

                <div class="box-body table-responsive no-padding">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <a href="@Url.Action("ViewAllCurrencies", new { sortOrder = ViewBag.IdCurrencySortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        ID Currency
                                    </a>
                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllCurrencies", new { sortOrder = ViewBag.CurrencyNameSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Currency Name
                                    </a>
                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllCurrencies", new { sortOrder = ViewBag.CurrencyCodeSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Currency Code
                                    </a>

                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllCurrencies", new { sortOrder = ViewBag.CurrencyValueSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Currency Value
                                    </a>

                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllCurrencies", new { sortOrder = ViewBag.DateModifySortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Date of modify
                                    </a>

                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllCurrencies", new { sortOrder = ViewBag.DateCreatedSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Date of creation
                                    </a>

                                </th>
                                <th>
                                    Functions
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdCurrency)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencyCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CurrencyValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateChanged)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelITem => item.DateCreated)
                                    </td>
                                    <td>
                                        <span onclick="return confirm('Are you sure you want to delete resource: '+ '@item.IdCurrency'+'?')">
                                            @Html.ActionLink("Delete", "DeleteCurrency", new { id = item.IdCurrency }, new { @class = "btn btn-danger" })
                                        </span>

                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <span class="pagination pagination-sm no-margin pull-right">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("ViewAllCurrencies", new { page }))
                    </span>
                </div>

            </div><!-- /.box -->
        </div>
    </div>



</section><!-- /.content -->
