<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '950489315016280',
                xfbml: true,
                version: 'v2.5'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</head>
<body class="hold-transition skin-blue  sidebar-mini">
    <div class="wrapper">

        @{
            Html.RenderPartial("_HeaderPartial");
        }

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Statistics</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Orders</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Users</a></li>
                        </ul>
                    </li>





                    <!--User -->


                    <li class="header">USERS</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-group"></i>
                            <span>Registered users</span>
         @LayoutHelper.AdminCount()
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus"></i>Create user</a></li>
                            <li><a href="#"><i class="fa fa-user-times"></i>Delete User</a></li>
                            <li><a href="@Url.Action("Index" ,"ApplicationUsers")"><i class="fa fa-list"></i>View all users</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa  fa-male"></i>
                            <span>Registered admins</span>
            @LayoutHelper.UsersCount()
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-user-plus"></i>Create admin</a></li>
                            <li><a href="#"><i class="fa fa-user-times"></i>Delete admin</a></li>
                            <li><a href="#"><i class="fa fa-list"></i>View all admins</a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-unlock-alt"></i>
                            <span>Created roles</span>
            @LayoutHelper.RolesCount()
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("Create", "Roles")"><i class="fa fa-circle-o"></i> Create role</a>
                            </li>
                            <li><a href="@Url.Action("ViewAllRoles", "Roles")"><i class="fa fa-circle-o"></i> View all roles</a></li>
                            <li><a href="@Url.Action("ManageUserRoles", "Roles")"><i class="fa fa-circle-o"></i>Manage roles</a></li>
                        </ul>
                    </li>
                    <!--Users-->




                    <!--Multilanguage-->
                    <li class="header">MULTILANGUAGE</li>
               
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-book"></i> <span>Multilanguage</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> Languages <i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="@Url.Action( "AddNewLanguage", "MultiLanguage")">
                                            <i class="fa fa-circle-o"></i> Add new language
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action( "ViewAllLanguages", "MultiLanguage")">
                                            <i class="fa fa-circle-o"></i> View all languages
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i>Resources<i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="@Url.Action( "AddNewResource", "MultiLanguage")">
                                            <i class="fa fa-circle-o"></i> Add new resource
                                        </a>

                                    </li>
                                    <li>
                                        <a href="@Url.Action( "ViewAllResources", "MultiLanguage")" >
                                            <i class="fa fa-circle-o"></i> View all resources
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i>Static Resources<i class="fa fa-angle-left pull-right"></i></a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="@Url.Action( "AddNewStaticText", "MultiLanguage")"><i class="fa fa-circle-o"></i> Add new static text</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ViewAllStaticTexts", "MultiLanguage")"><i class="fa fa-circle-o"></i> View all static texts </a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!--Multilanguage-->

                
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            @RenderBody()


        </div><!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.0
            </div>
            <strong>Copyright &copy; 2015 - @DateTime.Now.Year <a href="http://s2kdesign.com">Svetlin Krastanov</a>.</strong> All rights reserved.
        </footer>


    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>

    @RenderSection("Scripts", false)

</body>
</html>
