@model BCG_Manage.Models.LayoutModels
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" id="sectionsb" style="display: none">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="~/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>@User.Identity.Name</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <div class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control search-filter" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
 
    <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Statistics</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Orders</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Users</a></li>
            </ul>
        </li>





        <!--User -->


        <li class="header">USERS</li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-group"></i>
                <span>Registered users</span>
                <span class="label label-warning pull-right" id="registered-users">

                    @Model.CountAllUsers
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-user-plus"></i>Create user</a></li>
                <li><a href="@Url.Action("Index" ,"ApplicationUsers")"><i class="fa fa-list"></i>View all users</a></li>
            </ul>
        </li>

        @*<li class="treeview">
                <a href="#">
                    <i class="fa  fa-male"></i>
                    <span>Registered admins</span>
                    @LayoutHelper.UsersCount()
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-user-plus"></i>Create admin</a></li>
                    <li><a href="#"><i class="fa fa-user-times"></i>Delete admin</a></li>
                    <li><a href="#"><i class="fa fa-list"></i>View all admins</a></li>
                </ul>
            </li>*@

        <li class="treeview">
            <a href="#">
                <i class="fa fa-unlock-alt"></i>
                <span>Created roles</span>
                <span class="label label-danger pull-right">

              @Model.CountAllRoles

                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="@Url.Action("Create", "Roles")"><i class="fa fa-circle-o"></i> Create role</a>
                </li>
                <li><a href="@Url.Action("ViewAllRoles", "Roles")"><i class="fa fa-circle-o"></i> View all roles</a></li>
                <li><a href="@Url.Action("ManageUserRoles", "Roles")"><i class="fa fa-circle-o"></i>Manage roles</a></li>
            </ul>
        </li>
        <!--Users-->
        <!--Multilanguage-->
        <li class="header">MULTILANGUAGE</li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i> <span>Multilanguage</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i> Languages <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action( "AddNewLanguage", "MultiLanguage")">
                                <i class="fa fa-circle-o"></i> Add new language
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action( "ViewAllLanguages", "MultiLanguage")">
                                <i class="fa fa-circle-o"></i> View all languages
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i>Resources<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action( "AddNewResource", "MultiLanguage")">
                                <i class="fa fa-circle-o"></i> Add new resource
                            </a>

                        </li>
                        <li>
                            <a href="@Url.Action( "ViewAllResources", "MultiLanguage")">
                                <i class="fa fa-circle-o"></i> View all resources
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-circle-o"></i>Static Resources<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action( "AddNewStaticText", "MultiLanguage")"><i class="fa fa-circle-o"></i> Add new static text</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ViewAllStaticTexts", "MultiLanguage")"><i class="fa fa-circle-o"></i> View all static texts </a>
                        </li>

                    </ul>
                </li>
            </ul>
        </li>
        <!--Multilanguage-->


    </ul>
</section>
<!-- /.sidebar -->



