@using BCG_Portal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Вход";
}

<!-- START LOGIN FORM -->
<div class="row text-center" style="vertical-align:middle;">
    <div class="col-md-8">
    <!-- START Html.BeginForm -->
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <br />
        <div class="logo AvdirR">Вход</div>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <!-- START: Main Form -->
        <div class="login-form-1">
            <!-- START: login-form -->
            <div id="register-form" class="text-left AvdirR">

                <div class="main-login-form">
                    <div class="login-group">

                        @*<%-- Username --%>*@
                        <div class="form-group">
                             @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Потребителско име" })
                        </div>
                        @*<%-- Password --%>*@
                        <div class="form-group">
                           @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Парола" })
                        </div>
                        @*<%-- Check Box --%>*@
                        <div class="form-group login-group-checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                        
                        @*<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>*@

                      
                        @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                    </div>
                    <input type="submit" value="GO" class="login-button" style="font-size: 1em" />
                </div>

            </div>
            <!-- END: login-form -->
        </div>
        <!-- END: Main Form -->
    } 
    <!-- END Html.BeginForm -->
  
    <br />
    @*<%-- Etc Login Information --%>*@
    <div class="etc-login-form text-center AvdirR">
        <p>
            Забравена парола? @Html.ActionLink("Кликнете тук >>", "ForgotPassword") 
        </p>
        <p>
           Нов потребител? @Html.ActionLink("Създайте нов акаунт", "RegisterBG") 
        </p>
    </div>
     </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartialBG", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
<!-- END LOGIN FORM -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}