@model BCG_Manage.Models.Resources

@using BCG_Manage.Controllers;
@{
    ViewBag.Title = "Add new resource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Add new resource.
        <small>Multilanguage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>MultiLanguage</li>
        <li class="active">Add resource</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Helper for info boxes after manipulating data -->
    @ResultHelper.ResultFromTempData(TempData)


    <!-- Default box -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"> Add new  </h3>
                </div><!-- /.box-header -->
                <!-- form start -->

                @using (Html.BeginForm("AddNewResource", "MultiLanguage", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="form-group">
                            <label> Language: </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class=" fa fa-long-arrow-down"></i>
                                </div>
                                @Html.DropDownListFor(model=>model.IdLanguage , Model.IdLanguages, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Resource: </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class=" fa  fa-header"></i>
                                </div>
                                @Html.EditorFor(model => model.Context, null, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter..." } })
                                @Html.ValidationMessageFor(model => model.Context, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div><!-- /.box -->
        </div>

    </div>


</section><!-- /.content -->
