@model BCG_Manage.Models.LanguagesInModels
@using BCG_Manage.Controllers;
@{
    ViewBag.Title = "Edit language";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Edit language.
        <small>Multilanguage</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>MultiLanguage</li>
        <li class="active">Edit language</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <!-- Helper for info boxes after manipulating data -->
    @ResultHelper.ResultFromTempData(TempData)

    <!-- Default box -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">  Edit </h3>
                </div><!-- /.box-header -->
                <!-- form start -->



                @using (Html.BeginForm("EditLanguage", "MultiLanguage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.IdLanguage, new { htmlAttributes = new { @class = "form-control", name = "IdLanguage" } })

                    <div class="box-body">
                        <div class="form-group">
                            <label>Language: </label>
                            @Html.EditorFor(model => model.Language, new { htmlAttributes = new { @class = "form-control", name = "Language" } })
                            @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">

                            <label>Initials:</label>
                            @Html.EditorFor(model => model.Initials, new { htmlAttributes = new { @class = "form-control", name = "Initials" } })
                            @Html.ValidationMessageFor(model => model.Initials, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label>Culture:</label>
                            @Html.EditorFor(model => model.Culture, new { htmlAttributes = new { @class = "form-control", name = "Culture" } })
                            @Html.ValidationMessageFor(model => model.Culture, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>File input:</label>
                                    @Html.TextBoxFor(m => m.Picture, new { type = "file" })
                                    @Html.ValidationMessageFor(m => m.Picture)
                                    <p class="help-block">Types: .jpg, .png, .gif. Resolution under 150px x 150px </p>
                                </div>

                                <div class="checkbox">
                                    <label>

                                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { name = "IsActive" } })

                                        Is Active
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <img src="@Url.Action("ShowImageForLanguages", "Base", new { id = Model.IdLanguage } )" height="70" width="120" />
                            </div>


                        </div><!-- /.box-body -->
                    </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                }
            </div><!-- /.box -->
        </div>

    </div>


</section><!-- /.content -->
