@model BCG_Manage.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Change your account settings
            <small>manage</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Admin"><i class="fa  fa-home"></i> Home</a></li>
            <li>Manage</li>
            <li class="active">Account settings</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Helper for info boxes after manipulating data -->
        @ResultHelper.ResultFromTempData(TempData)
        <!-- Default box -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">  @ViewBag.StatusMessage </h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">




                        <dl class="dl-horizontal">
                            <dt>Password:</dt>
                            <dd class="form-group">
                                
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Change your password", "ChangePassword", null, new { @class = "btn btn-info"} )
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-info" })
                                }

                                


                            </dd>
                            <dt>External Logins:</dt>
                            <dd class="form-group">
                                @Model.Logins.Count 
                                @Html.ActionLink("Manage", "ManageLogins" , null, new { @class = "btn btn-info" }) 
                            </dd>
                            <dt>Profile Pictures:</dt>
                            <dd class="form-group">
                               @Html.ActionLink("Change", "ChangeProfilePicture", null, new { @class = "btn btn-info" })
                            </dd>
                        </dl>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>

        </div>
    </section><!-- /.content -->
