@model PagedList.IPagedList<BCG_Manage.Areas.Store.Models.DiscountsViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "View All Discounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        View All Discounts.
        <small>Store</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin"><i class="fa  fa-home"></i> Home</a></li>
        <li>Store</li>
        <li class="active">View All Discounts</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Helper for info boxes after manipulating data -->
    @ResultHelper.ResultFromTempData(TempData)


    <!-- Default box -->
    <div class="row">


        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Discounts: </h3>

                </div><!-- /.box-header -->

                <div class="box-body table-responsive no-padding">


                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <a href="@Url.Action("ViewAllDiscounts", new { sortOrder = ViewBag.IdDiscountSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        ID Coupon:
                                    </a>
                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllDiscounts", new { sortOrder = ViewBag.IdDiscountSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Discount Amount:
                                    </a>
                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllDiscounts", new { sortOrder = ViewBag.IdDiscountSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Products in discount:
                                    </a>
                                </th>
                                <th>
                                    <a href="@Url.Action("ViewAllDiscounts", new { sortOrder = ViewBag.IdDiscountSortParm, currentFilter = ViewBag.CurrentFilter })">
                                        <i class="fa fa-sort-amount-desc"></i>
                                        Period:
                                    </a>
                                </th>


                                <th>
                                    Functions
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdDiscount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiscountAmount) %
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CounterProducts)
                                    </td>
                                    <td>s
                                        @Html.DisplayFor(modelItem => item.StartDate)
                          -
                                        @Html.DisplayFor(modelItem => item.EndDate)
                                    </td>

                                    <td>
                                        
                                        <span>
                                            @Html.ActionLink("Apply To Products", "ApplyDiscountToProducts", new { id = item.IdDiscount }, new { @class = "btn btn-info" })
                                        </span>
                                        <span onclick="return confirm('Are you sure you want to delete discount?: '+ '@item.IdDiscount'+'?')">
                                            @Html.ActionLink("Delete", "DeleteDiscount", new { id = item.IdDiscount }, new { @class = "btn btn-danger" })
                                        </span>
                                       
                                    </td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <span class="pagination pagination-sm no-margin pull-right">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("ViewAllDiscounts", new { page }))
                    </span>
                </div>

            </div><!-- /.box -->
        </div>
    </div>



</section><!-- /.content -->
