@{
    ViewBag.Title = "Правила за ползване";
}
<style>
    .jo {
        font-family: AvdiraR !important;
        font-size: 1.2em;
    }
    .jo2 {
        color: red;
    }
    .jo > a {
        color: red;
    }
</style>
<div style="height: 20px;"></div>
<h1 style="text-align:center; margin-top: 10px; font-size: 1.8em" class="jo">Правила за ползване на сайта</h1>
<hr />
<div class="row jo">
    <div class="col-md-12 col-xs-12">
        <h4>&#10004; Авторски права</h4>
        <article class="jo">
            Всички елементи на съдържанието на @Html.ActionLink("www.bc-vit.bg", "Index", "Home"),
            включително дизайн, софтуерни програми, текст, рисунки, графики, скици и друга информация или елементи,
            представляват обект на авторско право по смисъла на Закона за авторското право и сродните му права
            и са притежание на собствениците на @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            и неговите партньори, предоставили съответната информация, като нерегламентираното им използване представлява закононарушение
            и води до гражданска, административно-наказателна и наказателна отговорност в съответствие с действащото
            българско законодателство.
        </article>
        <br />
        <article class="jo">
            Всяко неразрешено ползване, възпроизвеждане, промяна, публичен показ и др. на част или цялото съдържание
            на сайта без писмено разрешение на собствениците на @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            и/или неговите партньори е забранено и ще се преследва по предвидения от закона ред.
            Допуска се публикуване на текстови материали само след писмено съгласие на
            @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            посочване на източника и добавяне на линк
            @Html.ActionLink("www.bc-vit.bg", "Index", "Home").
        </article>
    </div>
</div>
<hr />
<div class="row jo">
    <div class="col-md-12 col-xs-12">
        <h4>&#10004; Потребители</h4>
        <article class="jo">
            Чрез достъпа до (зареждането) на интернет страницата на @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            всеки потребител е длъжен да се запознае с настоящите Правила за ползване на сайта,
            като при прочитането и запознаването с тях, той удостоверява, че при следващо ползване
            (зареждане на @Html.ActionLink("www.bc-vit.bg", "Index", "Home")) той е съгласен с тях.
            Всеки потребител има правото да използва услугите на сайта единствено за лични/нетърговски цели,
            като се съгласява, че информацията, публикувана на сайта @Html.ActionLink("www.bc-vit.bg", "Index", "Home"),
            не може да бъде причина за предявяване на негови искове към @Html.ActionLink("www.bc-vit.bg", "Index", "Home") и неговите собственици.
        </article>
    </div>
</div>
<hr />
<div class="row jo" >
    <div class="col-md-12 col-xs-12">
        <h4>&#10004; Отговорност</h4>
        <article class="jo">
            Пълната информация на сайта се предоставя в съответствие с действащото българско законодателство,
            като нейната ненакърнимост и безопасност от злонамерени атаки на трети лица не е гарантирана от
            @Html.ActionLink("www.bc-vit.bg", "Index", "Home").
            @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            не носи отговорност за последиците, в т.ч. евентуални искове и вреди, породени от или свързани по какъвто
            и да е начин с достъпа, употребата или невъзможността за употреба на @Html.ActionLink("www.bc-vit.bg", "Index", "Home").
        </article>
        <br />
        <article class="jo">
            Всяко неразрешено ползване, възпроизвеждане, промяна, публичен показ и др. на част или цялото съдържание
            на сайта без писмено разрешение на собствениците на @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            и/или неговите партньори е забранено и ще се преследва по предвидения от закона ред.
            Допуска се публикуване на текстови материали само след писмено съгласие на @Html.ActionLink("www.bc-vit.bg", "Index", "Home"),
            посочване на източника и добавяне на линк @Html.ActionLink("www.bc-vit.bg", "Index", "Home").
        </article>
    </div>
</div>
<hr />
<div class="row jo">
    <div class="col-md-12 col-xs-12">
        <h4>&#10004; Общи разпоредби</h4>
        <article class="jo">
            Настоящите общи условия имат обвързващо действие само в отношенията между всеки потребител на сайта
            @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            и информацията и услугите, публикувани в него. Всеки потребител има правото да използва информацията на сайта
            единствено за лични/нетърговски цели. Тези общи условия представляват договореност (ДОГОВОР) между всеки потребител
            на сайта и @Html.ActionLink("www.bc-vit.bg", "Index", "Home"),
            с който получавате правото да използвате безплатно сайта за лични и нетърговски цели при спазване на условията,
            описани в настоящите правила. Чрез достъпа до (зареждането) на интернет страницата всеки потребител
            се съгласява да бъде обвързан от настоящите общи условия и всички последващи промени в тях,
            като се задължава да ги спазва. В случай че потребител на @Html.ActionLink("www.bc-vit.bg", "Index", "Home")
            не е съгласен с всички общи условия за ползване, то би следвало този потребител да не използва сайта за никакви цели.
        </article>
    </div>
</div>