@using System.Configuration
@model BCG_Portal.Models.ContactModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
</div>


<h2>Contacts </h2>
@using (Html.BeginForm(new{@class = "contacts-form"}))
 {
    @Html.LabelFor(model => model.Name, "Your name:")<br />
    @Html.TextBoxFor(model => model.Name, new{@class = "inputbg"})<br />
    @Html.ValidationMessageFor(model => model.Name)<br />

    @Html.LabelFor(model => model.Email, "Your e-mail:")<br />
    @Html.TextBoxFor(model => model.Email, new{@class = "inputbg"})<br />
    @Html.ValidationMessageFor(model => model.Email)<br />

    @Html.LabelFor(model => model.Mobile, "Your mobile phone:")<br />
    @Html.TextBoxFor(model => model.Mobile, new{@class = "inputbg"})<br />
    @Html.ValidationMessageFor(model => model.Mobile)<br />

    @Html.LabelFor(model => model.Message, "Your message:") <br />
    @Html.TextAreaFor(model => model.Message, new{@class = "textareabg"})<br />
    @Html.ValidationMessageFor(model => model.Message)<br />

    <div class="g-recaptcha" data-sitekey=@ConfigurationManager.AppSettings["ReCaptchaPublicKey"]></div>
    <input type="submit" class="button-bg" value="Send" />
}

<br />
<h2>@TempData["message"]</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>