@using System.Configuration
@using System.Web.UI.WebControls
@model BCG_Portal.Models.ExternalModels.ContactModel
@{
    ViewBag.Title = "Контакти";
    Layout = "~/Views/Shared/_LayoutBG.cshtml";
}

<!--==============================content================================-->
<section id="content">
    <div class="zerogrid top AvdirR">
        <div class="row">
            <div class="col-md-8">
                <div class="wrap-col">
                    <h2>Как да се свържете с нас</h2>
                    <div class="">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23667.076222646938!2d24.728607281192076!3d42.14205759022273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1b737c83041%3A0x4b859e8be8490ec7!2z0J_Qu9C-0LLQtNC40LIg0KbQtdC90YLRitGALCDQn9C70L7QstC00LjQsg!5e0!3m2!1sbg!2sbg!4v1453645388002"
                                width="450" height="250" frameborder="0" style="border: 0" allowfullscreen></iframe>
                        <span>
                            Пло̀вдив е вторият по големина град в България с население 341 625 души (към 31.12.2015 г.).
                            Намира се в западната част на Горнотракийската низина, на двата бряга на река Марица.
                            Отстои на 15 km северно от Родопите и на 50 km южно от Стара планина.
                        </span>
                    </div>
                    <div class="">

                        <p>
                            Градът е застроен в подножията на седем сиенитни тепета, поради което често е наричан „Градът под тепетата“.
                            Пловдив е административен център на област Пловдив, община Пловдив, община Марица, община Родопи и
                            се явява най-голямото икономическо ядро на Южен централен район.
                        </p>
                        В Пловдив се провеждат Международният панаир, международният театрален фестивал „Сцена на кръстопът“,
                        телевизионният фестивал „Златната ракла“ и са запазени античният театър, римският одеон, агората (римският форум),
                        римският стадион, късноантична сграда „Ейрене“, малката базилика и други.
                        <p>
                            Пловдив е градът от България, избран за Европейска столица на културата за 2019 година.
                            За тази година статутът е споделен с още един европейски град — Матера в Италия.
                        </p>
                        <br />

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wrap-col">
                    <!--==============================Contact Form Start================================-->
                    <h2>Форма за контакти</h2>
                    @using (Html.BeginForm(new
                    {
                        @class = "contacts-form"
                    }))
                    {
                        @Html.LabelFor(model => model.Name, "Име:")<br />
                        @Html.TextBoxFor(model => model.Name, new
                   {
                       @class = "inputbg"
                   })<br />
                        @Html.ValidationMessageFor(model => model.Name)<br />

                        @Html.LabelFor(model => model.Email, "Електронна поща:")<br />
                        @Html.TextBoxFor(model => model.Email, new
                   {
                       @class = "inputbg"
                   })<br />
                        @Html.ValidationMessageFor(model => model.Email)<br />

                        @Html.LabelFor(model => model.Mobile, "Телефон за връзка:")<br />
                        @Html.TextBoxFor(model => model.Mobile, new
                   {
                       @class = "inputbg"
                   })<br />
                        @Html.ValidationMessageFor(model => model.Mobile)<br />

                        @Html.LabelFor(model => model.Message, "Вашето съобщение:")
                        <br />
                        @Html.TextAreaFor(model => model.Message, new
                   {
                       @class = "textareabg"
                   })<br />
                        @Html.ValidationMessageFor(model => model.Message)<br />

                        <div class="g-recaptcha" data-sitekey=@ConfigurationManager.AppSettings["ReCaptchaPublicKey"]></div>
                        @*<a href="#" class="button" onclick="document.getElementById('form').submit()">Изпрати</a>*@

                        @*<input type="submit" class="button-bg" value="Send" />*@
                        <button style="color:blue">Изпрати!</button>

                    }
                    <br />
                    <h2>@TempData["message"]</h2>
                    <!--==============================Contact Form End================================-->
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </div>
</section> 