<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <title>BC-VIT | @ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Business Software - Products | Business | Services | Business | software | Plovdiv software, software development | online shop | software solutions | e-commerce | ecommerce | ecommerce | online business cards" />

    <!--==============================for Google=================================-->
    <meta name="description" content="Business Software - Products | Business | Services | Business | software | Plovdiv software, software development | online shop | software solutions | e-commerce | ecommerce | ecommerce | online business cards" />
    <meta name="keywords" content="Business software, business cards, business cards online software company, software, software Plovdiv, software development, web shop software solutions, e-commerce, ecommerce, e-commerce, online business cards" />
    <meta http-equiv="Content-Language" content="bg">
    <meta name="author" content="BiSi-ViT">
    <meta name="Email" content="office@bcvit.bg" />
    <meta name="COPYRIGHT" content="Copyright 2016 BiSi-ViT Design Company, Bulgaria, Plovdiv" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />
    <meta name="geo.country" content="BG" />
    <meta name="icbm" content="Internet" />
    <meta name="dc.language" content="bg" />
    <meta name="geo.position" content="46;20" />
    <meta name="geo.region" content="BG-06" />
    <meta content="index, follow" name="robots" />
    <link href="~/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <!--==============================for Facebook=================================-->
    <meta property="og:url" content="www.bc-vit.bg" />
    <meta property="og:title" content="Make your own card online." />
    <meta property="og:image" content="https://www.bc-vit.bg/images/logo/bcvitLogo.PNG" />
    <meta property="og:description" content="The easiest way to do business card and shape it according to your preferences." />
    <!--==============================for Twitter=================================-->
    <meta name="twitter:title" content="Make your own card online." />
    <meta name="twitter:description" content="The easiest way to do business card and shape it according to your preferences." />
    <meta name="twitter:image" content="https://www.bc-vit.bg/images/logo/bcvitLogo.PNG" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <!--============================== Navigation Bar Fixed 2 Top =================================-->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<a class="navbar-brand" href="~/"> BC-VIT</a>*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-tabs-justified">
                    <li style="text-indent:4em;">&nbsp;</li>
                    <li class="daliQ">
                        <a href='@Url.Action("Index", "Home")'>
                            <i class="fa fa-home" aria-hidden="true"></i>
                            HOME
                        </a>
                    </li>
                    <li class="daliQ">
                        <a href='@Url.Action("AboutEn", "Home")'>
                            @*<i class="fa fa-question-circle-o" aria-hidden="true"></i>*@
                            ABOUT US
                        </a>
                    </li>
                    <li class="daliQ">
                        <a href='@Url.Action("ProductsFake", "Home")'>
                            <i class="fa fa-cog fa-spin fa-fw"></i>
                            PRODUCTS
                        </a>
                    </li>
                    <li class="daliQ">
                        <a href='@Url.Action("ContactEn", "Home")'>
                            <i class="fa fa-mobile" aria-hidden="true"></i>
                            CONTACTS
                        </a>
                    </li>
                    <li style="text-indent:1em;">&nbsp;</li>
                    @*<%-- Custom stuffs --%>*@
                    <li class="dropdown daliQ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-language" aria-hidden="true"></i>
                            &nbsp;
                            English &nbsp;<span class="caret"></span>
                            <img src='@Url.Content("~/images/flags/eng_flag.png")' />
                        </a>
                        <ul class="dropdown-menu">
                            <li role="separator" class="divider"></li>
                            <li class="daliQ">
                                <a href='@Url.Action("IndexBG", "Home")'>
                                    България
                                    <img src='@Url.Content("~/images/flags/bg.png")' />
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="daliQ">
                                <a href="#">
                                    中國
                                    <img src='@Url.Content("~/images/flags/flag-china.png")' />
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                        </ul>
                    </li>
                    @*<%-- End Custom stuffs --%>*@
                </ul>
                @Html.Partial("_LoginPartialEn")
            </div>
        </div>
    </div>
    <!--============================== End Navigation Bar Fixed 2 Top =================================-->
    <!--============================== Shared Body Content =================================-->
    <div class="container body-content">
        <!--==============================individual view content=================================-->
        @RenderBody()
        <!--==============================end individual view content=================================-->
        <hr />
    </div>
    <!--============================== End Shared Body Content =================================-->
    <!--==============================footer=================================-->
    <footer id="myFooter" style="font-size:1.2em">
        <div class="row" style="color: white; padding: 10px; font-family: AvdiraR">
            <div class="col-md-4">
                About Us
                <hr />
                <p>
                    www.bc-vit.com is a specialized site for making digital business cards.
                    You can choose one of our templates or
                    to create a business card to suit your personal preferences.
                </p>
            </div>
            <div class="col-md-4 daliQ" style="text-align: center;">
                <br />
                <br />
                <div class="soc-icons">
                    <div>
                        <a href="#"><img src="/images/twitter.jpg" alt="Twitter" title=" Twitter"></a>
                        <a href="#"><img src="/images/facebook.jpg" alt="Facebook" title="Facebook"></a>
                        <a href="#"><img src="/images/google.jpg" alt="Google" title="Google"></a>
                    </div>
                </div>
                <!--============================== Terms of use and coockie declaration =================================-->
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6 col-xs-6">
                        @Html.ActionLink("Terms of Use", "TermsOfUseBG", "Home")
                    </div>

                    <div class="col-md-6 col-xs-6">
                        @Html.ActionLink("Coockie Declaration", "CoockieDeclarationBG", "Home")
                    </div>
                </div>
                <!--============================== End terms of use and coockie declaration =================================-->
                <h3 class="">
                    <span>@*Copyright*@ &copy; @DateTime.Now.Year </span>
                    @*<a href="https://www.bc-vit.bg" style="text-decoration:none !important;">www.bc-vit.bg</a>*@
                    @Html.ActionLink("www.bc-vit.com", "Index", "Home")
                </h3>
            </div>
            <div class="col-md-4 daliQ">
                Contacts
                <hr />
                <div>
                    <table>
                        <tr>
                            <td>
                                E-mail:
                            </td>
                            <td>
                                <input type="text" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Message:
                            </td>
                            <td>
                                <input type="text" value="" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: right;">
                                <button style="color:blue">Send!</button>
                            </td>
                        </tr>
                    </table>
                    <br />

                </div>
            </div>
        </div>
    </footer>
    <!--==============================end footer=================================-->
    <!--============================== Coockie Declaration=================================-->
    <!-- Use jquery-eu-cookie-law-popup.js & cuts-jquery-eupopup.css to create your own banners -->
    <div class="eupopup eupopup-bottom"></div>
    <!--============================== End Coockie Declaration=================================-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
