@model BCG_Manage.Areas.EmailTemplates.Models.EmailModels
<!DOCTYPE html>
<html>
<head>
    <title>New registration in www.bc-vit.bg</title>
 
</head>
<body>
    <table width="100%" style="background-color: white">
        <tr>
            <td colspan="2">
                <a href="http://www.bc-vit.bg" title="BC-VIT.BG">
                                  
                    <img src="http://manage.bc-vit.bg/Images/bc-vit.png" width="100%" height="340px" style="heght: 340px; width: 100%;"/>
                </a>
            </td>
        </tr>

    </table>

    <table width="100%" height="300" style="height: 200px; background-color: white; border-bottom: 2px solid grey; border-top: 2px solid grey; width: 100%;" >
        <tr>
            <td>
                <i> Съобщение е изпратено от администратор:  @Model.Admin</i>
            </td>
            <td></td>
        </tr>
        <tr style="padding-top: 10px">
            <td style="text-align: right; width: 50%; padding-right: 20px;">
                Име на потребителя:
            </td>
            <td>
                 @Model.UserName
            </td>

        </tr>
        <tr style="pading-top: 10px">
            <td style="text-align: right; padding-right: 20px;">
                Роля в системата:
            </td>
            <td>
                @Model.Role
            </td>

        </tr>
       
        <tr style="padding-top: 10px">
            <td style="text-align: right; padding-right: 20px;">
                Достъп до администраторския панел:
            </td>
            <td>
              <a href="http://www.manage.bc-vit.bg" title="manage.bc-vit.bg">www.manage.bc-vit.bg</a>
            </td>

        </tr>
        <tr style="padding-top: 10px">
            <td style="text-align: right; padding-right: 20px;">
                Създадена парола за акаунта:
            </td>
        <td>
            @Model.Password
        </td>
       <tr style="padding-top: 10px">
           <td style="text-align: right; padding-right: 20px;">
               Линк за потвърждаване на паролата:
           </td>
           <td>
             <a href="@Model.Link" title="CONFIRM" >Натисни тук!</a>
           </td>
        </tr>
        <tr style="padding-top: 10px">
            <td style="text-align: right; padding-right: 20px;">
                (След като потвърдите имейла, с цел сигурност, може да смените паролата си!)
            </td>
            <td></td>
        </tr>
    </table>


    <p>Ако съобщението е получено по грешка ви молим да го изтриете и да ни съобщите! С потвърждаване на регистрацията вие се съгласявате с правата на сайта. </p>

</body>
</html>
